{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.available' | trans }}{% endblock %}

{% block section %}
    <h3>
        <a href="#">Create new tag</a>
    </h3>
    <table>
        <tr>
            <th>{{ 'tag.available' | trans }}</th>
        </tr>
    {% for tag in tags %}
        <tr><td><a href="{{ path('blog_admin_admin_edit', {id: tag.id}) }}">{{ tag.name }}</a></td></tr>
    {% endfor %}
    </table>
{% endblock %}
