{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.plural' | trans }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block section %}


    <h2>{{ 'tag.used' | trans }}</h2>

    {% for tag in usedTags %}
       <p><a href="{{ path('blog_core_tag_show', {name: tag.name}) }}" >{{ tag.name }}</a></p>
    {% endfor %}


{% endblock %}
